.container {
  max-width: 190px;
  gap: 10px;
}

.titulo div {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

h1 {
  font-size: 25px;
}

