.container {
  flex: 0 0 200px;
  height: 250px;
  padding: 15px;
  border-radius: 20px;
  font-size: 16px;
  font-family: 'K2D', sans-serif;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.100);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.20);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.container img {
  width: 100%;
  height: 150px;
  margin: 10px auto;
}

.numero, .nome {
  display: block;
  width: 100%;
  text-align: center;
  padding: 2px 0;
  background-color: #fff;
  color:#000;
  letter-spacing: 1px;
  border-radius: 20px;
}