.container {
  max-width: 1210px;
  height: 470px;
  margin: 0 auto 30px auto;
  font-family: 'K2D', sans-serif;
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
  position: relative;
}

.pokemon {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.dados {
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pokemon > div {
  max-width: 400px;
}

.containerSubList {
  max-width: 300px;
}

.btns {
  padding: 10px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnReturn {
  position: absolute;
  top: -103px;
}